body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid blue;
    position: absolute;
    
}

 
 .trigger {
    position: relative;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.trigger:hover .tooltip  {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s;
}

.tooltip {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
}

.tooltip::after {
    content: '';
    position: absolute;
    border-style: solid;
}

.top .tooltip {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.top .tooltip::after {
    top: 100%;
    left: 50%;
    border-width: 5px 5px 0 5px;
    border-color: black transparent transparent transparent;
    transform: translateX(-50%);
}

.right .tooltip {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.right .tooltip::after {
    top: 50%;
    left: 0;
    border-width: 5px 5px 5px 0;
    border-color: transparent black transparent transparent;
    transform: translateY(-50%);
}

.bottom .tooltip {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.bottom .tooltip::after {
    bottom: 100%;
    left: 50%;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent black transparent;
    transform: translateX(-50%);
}

.left .tooltip {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 10px;
}

.left .tooltip::after {
    top: 50%;
    right: 0;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent black;
    transform: translate(-50%);
}
